/*===Reset===*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
 table{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: 2em;
  }
  table td{
    border: 1px solid black;
    padding: 0.2em;
  }
/*ol, ul, li, dl, dt, dd
{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
*/
/*===Base Body===*/
body
{
text-align: justify;
line-height: 120%;
font-family: 'OldStandard', sans-serif; 
-epub-hyphens: auto;
-webkit-hyphens: auto;
adobe-hyphenate: auto;
-ms-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
}
/* use for styling the first 3 words of each chapter, eg. <span class="small-caps">The smell of</span> dust */
span.small-caps
{
  font-size: larger;
  font-variant: small-caps;
}

/*===Headings===*/
h1
{
font-family: 'Courgette', sans-serif;
text-indent: 0;
text-align: center;
margin: 100px 0 0 0;
font-size: 2.0em;
/*font-weight: bold; */
page-break-before: always;
line-height: 150%; /* gets squished otherwise on ADE */
}
h2
{
text-indent: 0;
text-align: center;
margin: 50px 0 0 0;
font-size: 1.5em;
font-weight: bold;
page-break-before: always;
line-height: 135%; /* gets squished otherwise on ADE */
}
h3
{
text-indent: 0;
text-align: left;
font-size: 1.4em;
font-weight: bold;
margin: 1.0em 0 0 0;
padding-bottom: 10px;
}
h4
{
text-indent: 0;
text-align: left;
font-size: 1.2em;
font-weight: bold;
margin: 1.0em 0 0 0;
padding-bottom: 10px;
}
h5
{
text-indent: 0;
text-align: left;
font-size: 1.1em;
font-weight: bold;
margin: 1.0em 0 0 0;
padding-bottom: 10px;
}
h6
{
text-indent: 0;
text-align: left;
font-size: 1.0em;
font-weight: bold;
margin: 1.0em 0 0 0;
padding-bottom: 10px;
}
/* Hyphen and pagination Fixer */
h1, h2, h3, h4, h5, h6
{
-webkit-hyphens: none !important;
hyphens: none;
page-break-after: avoid;
page-break-inside: avoid;
}
/*===Other Block Elements===*/
/* first-line indent type paragraph for fiction */
p
{
text-indent: 1.25em;
margin: 0;
widows: 2;
orphans: 2;
}
/* block type paragraph for non-fiction - no indent */
p.left
{
text-indent: 0;
margin: 1.0em 0 0 0;
widows: 2;
orphans: 2;
}
blockquote {
margin: 10px 0 10px 5px !important;
page-break-inside: avoid;
font-size: 95%;
font-style: italic;
text-indent: 0;
/*border-left: 4px solid #66c0c0; */
}
/* Kindle app on Mac. does not handle the blockquote properly so this is a workaround */
p.simulate_blockquote
{
text-indent: 0;
margin: 1.0em 0 0 0;
widows: 2;
orphans: 2;
page-break-inside: avoid;
font-size: 95%;
font-style: italic;
}

/*===Images===*/
img
{
max-width: 100%;
max-height: 100%;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
/*===Inline Elements===*/
span.i
{
font-style: italic;
}
span.b
{
font-weight: bold;
}
span.u
{
text-decoration: underline;
}
span.st
{
text-decoration: line-through;
}
span.sm
{
font-variant: small-caps;
}
/*==Inline combinations==*/
/* Using something like <span class="i b">… may seem okay, but it causes problems on the Kindle */
span.ib
{
font-style: italic;
font-weight: bold;
}
span.iu
{
font-style: italic;
text-decoration: underline;
}
span.bu
{
font-weight: bold;
text-decoration: underline;
}
span.ibu
{
font-style: italic;
font-weight: bold;
text-decoration: underline;
}
/* Superscripted Text */
.super
{
vertical-align: super;
font-size: 0.6em;
text-decoration: none;
}
p.chapterIntro
{
text-align: center;
font-style:italic;
}
/* This fixes the bug where the text-align property of block-level elements is not recognized on iBooks
example: HTML markup would look like <p class="centered"><span class="ipadcenterfix">Centered Content</span></p> */
span.ipadcenterfix
{
text-align: center;
}
span.ipadrightfix
{
text-align: right;
}
/*==eBook Specific Styles==*/
span.dropcap
{
font-size: 300%;
font-weight: bold;
height: 1.0em;
float: left;
margin: 0.3em 0.125em -0.4em 0.1em;
}
p.texttop
{
margin: 1.5em 0 0 0;
text-indent: 0;
}
p.clearit
{
clear: both;
}
p.authorname
{
text-indent: 0;
margin: 1.0em 0 0 0;
text-align: center;
font-size: 130%
}
/* for centered text and element wrappers on images */
p.centered
{
text-indent: 0;
margin: 1.0em 0 0 0;
text-align: center;
}
/* Section Breaks */
p.centeredbreak
{
text-indent: 0;
margin: 1.0em 0 1.0em 0;
text-align: center;
}
/* section Breaks with a page break */
p.centeredpgbrk
{
text-indent: 0;
margin: 1.0em 0 0 0;
text-align: center;
page-break-before: always;
}
/* table of contents */
li.toc_part
{
text-indent: 0.2em;
margin: 0;
text-align: left;
font-size: 100%;
font-style: italic;
}
li.toc_chapter_with_parts
{
text-indent: 0.3em;
margin: 0;
text-align: left;
font-size: 100%
}
li.toc_chapter_no_parts
{
text-indent: 0.2em;
margin: 0;
text-align: left;
font-size: 100%
}
li.toc_matter
{
text-indent: 0.2em;
margin: 0;
text-align: left;
font-size: 100%
}
ol.toc
{
list-style-type: none;
}
/* Kindle */
/*==For Kindle Fire, Kindle Touch, and Other KF8 devices==*/
@media amzn-kf8{
span.dropcap
{
font-size: 300%;
font-weight: bold;
height: 1.0em;
float: left;
margin: -0.2em 0.1em 0 0.1em;
}
p.clearit
{
clear: both;
}
/*==Lists==*/
/* Only apply list styles to KF8 Devices*/
ul
{
margin: 1em 0 0 2em;
text-align: left;
}
ol
{
margin: 1em 0 0 2em;
text-align: left;
}
}
/*==For older e-ink Kindles and Kindle Apps==*/
@media amzn-mobi{
span.dropcap
{
font-size: 1.5em;
font-weight: bold;
}
}

part_start
{
page-break-before: always;
}

/* table of contents */
p.toc_part
{
text-indent: 1.25em;
margin: 0;
text-align: left;
font-size: 110%
}
p.toc_chapter_with_parts
{
text-indent: 2em;
margin: 0;
text-align: left;
font-size: 100%
}
p.toc_chapter_no_parts
{
text-indent: 1.25em;
margin: 0;
text-align: left;
font-size: 100%
}
p.toc_matter
{
text-indent: 1.25em;
margin: 0;
text-align: left;
font-size: 100%
}

@font-face {
    font-family:'Courgette';
    font-weight: normal;
    font-style: normal;
    src:url(../fonts/Courgette-Regular.woff) format('woff');
}
