<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
{{#kindle}} 
<link type="text/css" rel="stylesheet" href="css/kindle-stylesheet.css" />
{{/kindle}}
{{^kindle}}
<link type="text/css" rel="stylesheet" href="css/epub-stylesheet.css" />
{{/kindle}}
<title>About the Author</title>
</head>
<body>
<div id="h2-9"><h2>About the Author</h2></div>
{{#about_author}}{{#paras}}
  <p><br/>
   {{#textblock}}
     {{#em}}<em>{{/em}}{{{words}}}{{#em}}</em>{{/em}}
   {{/textblock}}
  <br/></p>
{{/paras}}{{/about_author}}
</body>
</html>
