<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
{{#kindle}} 
<link type="text/css" rel="stylesheet" href="css/kindle-stylesheet.css" />
{{/kindle}}
{{^kindle}}
<link type="text/css" rel="stylesheet" href="css/epub-stylesheet.css" />
{{/kindle}}
<title>{{title}}</title>
</head>
<body>
<div id="h2-9"><h2>Copyright</h2></div>
<p>&nbsp;</p>
<p class="centered">Copyright © 2014 by {{author}}</p>
<p>&nbsp;</p>
<p class="centered">All rights reserved. This book or any portion thereof may not be reproduced or used in any manner whatsoever without the express written permission of the publisher except for the use of brief quotations in a book review.
</p>
<p>&nbsp;</p>
<p class="centered">First Printing, 2014</p>
<p class="centered">http://ePubChef.org</p>
</body>
</html>
