<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
{{#kindle}} 
<link type="text/css" rel="stylesheet" href="../css/kindle-stylesheet.css" />
{{/kindle}}
{{^kindle}}
<link type="text/css" rel="stylesheet" href="../css/epub-stylesheet.css" />
{{/kindle}}
<title>{{title}}</title>
</head>
<body>
    <div id="h1-1"><h1>{{title}}</h1></div>
    <p class="authorname"><span class="ipadcenterfix">by {{author}}</span></p>
    <p class="centered"><span class="ipadcenterfix">Copyright 2014 {{author}}<br />EPUB Edition</span></p>
    <p class="centered"><span class="ipadcenterfix">Cover Design by {{coverdesign}}</span></p>
    <p class="centered"><span class="ipadcenterfix"><img src="../images/epubchef_logo.jpg" width="200" height="34" alt="ePubChef Logo" /><br />eBook built using <a href="http://ePubChef.org">ePubChef</a></span></p>
    <p class="centered">The ePubChef license for this work should be verified at <a href="http://ePubChef.com/verify/{{epubchef_voucher}}">http://ePubChef.com/verify/{{epubchef_voucher}}</a></p>
    <p class="centeredpgbrk">&nbsp;</p>
</body>
</html>
